body {
    background-image: url('assets/back.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
}

.title-container {
    background-color: rgba(50, 139, 206, 0.3);
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 42px;
}

.container {
    text-align: center;
    margin-top: 150px;
}

.item {
    width: 20%;
    height: 225px;
    text-align: center;
    margin: 10px;
    background-color: rgba(73, 201, 230, 0.3);
    border-radius: 25px;
    padding: 30px;
    display: inline-block;
}

.item img {
    width: 50%;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
}

.item p {
    margin: 0;
    font-size: 20px;
}

footer {
    background-color: rgba(50, 139, 206, 0.3);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
}

@media (max-width: 1300px) {
    body {
        background-position: center center;
    }

    .item {
        height: 200px;
    }
}

@media (max-width: 1000px) {    
    .container {
        margin-top: 50px;
    }
    .item {
        width: 80%;
    }

    footer {
        position: relative;
        margin-top: auto;
        width: auto;
    }
}
